{% extends 'base.html' %} {% block title %}To-Do List{% endblock %} {% block content %}

<form method="post" action="{% url 'add_todo_item' %}">
    {% csrf_token %} {{ form.as_p }}
    <input type="submit" value="Add task">
</form>

<h1>To-Do List</h1>

{% if todo_items %}
<ul>
    {% for todo_item in todo_items %}
    <li>{{ todo_item.task }} -
        <form method="post" action="{% url 'update_todo_item' todo_item.pk %}">
            {% csrf_token %}
            <input type="checkbox" name="completed" {% if todo_item.completed %}checked{% endif %}>
        </form>
        - {{todo_item.created_at}}
        <form method="post" action="{% url 'remove_todo_item' todo_item.pk %}">
            {% csrf_token %}
            <input type="submit" value="Remove">
        </form>
    </li>
    {% endfor %}
</ul>
{% else %}
<p>No tasks to display.</p>
{% endif %} 

{% endblock %}